/*html,
body,
main {
  --font: "skolar-sans-latin", sans-serif;
  --really-green: oklch(88.14% 0.203 158.82);
  --green: oklch(78.59% 0.18 159.1);
  --black: oklch(22.21% 0 0);
  --gray: oklch(83.9% 0 0);
  --speed: 1200ms;

  height: 100%;
  font-family: var(--font);
  background-color: var(--black);
  color: var(--gray);

  & * {
    font-family: inherit;
  }
}

main {
  display: grid;
  place-content: center;
  place-items: center;
  text-align: center;
  gap: 88px;

  & article {
    display: grid;
    gap: 52px;
  }

  & h1 {
    color: var(--green);
    font-size: 14vw;
    font-weight: 900;
  }

  & h2 {
    font-size: 4.5vw;
    text-transform: uppercase;
    letter-spacing: 0.025ch;
  }
}

*[letter-animation="breath"] {
  & > span {
    display: inline-block;
    white-space: break-spaces;
  }

  & > span {
    animation: breath calc(var(--speed)) ease calc(var(--index) * 100 * 1ms)
      infinite alternate;
  }
}

section {
  width: 100%;
  display: grid;
  place-content: center;
  place-items: center;

  & div {
    width: 50vw;

    & span {
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 0.025ch;
      position: relative;
      margin-block-end: 8px;
    }

    & span:first-of-type {
      float: left;
      left: -12px;
    }

    & span:last-of-type {
      float: right;
      right: -12px;
    }
  }

  & input[type="range"] {
    width: 100%;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--green);
  height: 0.5rem;
  border-radius: 12px;
}

*/
/*

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
/*

  appearance: none;
  margin-top: -12px;
  background-color: oklch(22.21% 0 0);
  border: 1px solid oklch(38% 0 0);
  border-radius: 8px;
  height: 2rem;
  width: 1.25rem;
}

@keyframes breath {
  from {
    animation-timing-function: ease-out;
  }
  to {
    transform: scale(1.25) translateY(-5px) perspective(1px);
    text-shadow: 0 0 20px var(--really-green);
    animation-timing-function: ease-in-out;
  }
}

*/
/* End of first animation*/
* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
  background: hsl(0 0% 0%);
  gap: 2rem;
}

body::before {
	--line: hsl(0 0% 95% / 0.25);
	content: "";
	height: 100vh;
	width: 100vw;
	position: fixed;
	background:
		linear-gradient(90deg, var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin,
		linear-gradient(var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin;
	mask: linear-gradient(-15deg, transparent 30%, white);
	top: 0;
	z-index: -1;
}

section {
  display: grid;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}

section p {
  margin: 0;
  font-size: 2.25rem;
  color: hsl(0 0% 40%);
  text-align: center;
  background: linear-gradient(hsl(0 0% 80%), hsl(0 0% 50%));
  color: transparent;
  background-clip: text;
}

.code {
  font-size: 3rem;
  display: flex;
  flex-wrap: nowrap;
  color: hsl(0 0% 100%);
  border-radius: 1rem;
  background: hsl(0 0% 6%);
  justify-content: center;
  box-shadow: 0 1px hsl(0 0% 100% / 0.25) inset;
}

.code:hover {
  cursor: grab;
}

.digit {
  display: flex;
  height: 100%;
  padding: 5.5rem 1rem;
}

.digit:focus-visible {
  outline-color: hsl(0 0% 50% / 0.25);
  outline-offset: 1rem;
}

.digit span {
  scale: calc(var(--active, 0) + 0.5);
  filter: blur(calc((1 - var(--active, 0)) * 1rem));
  transition: scale calc(((1 - var(--active, 0)) + 0.2) * 1s), filter calc(((1 - var(--active, 0)) + 0.2) * 1s);
}

ul {
  padding: 0;
  margin: 0;
}

.digit:first-of-type {
  padding-left: 5rem;
}
.digit:last-of-type {
  padding-right: 5rem;
}

:root {
  --lerp-0: 1; /* === sin(90deg) */
  --lerp-1: calc(sin(50deg));
  --lerp-2: calc(sin(45deg));
  --lerp-3: calc(sin(35deg));
  --lerp-4: calc(sin(25deg));
  --lerp-5: calc(sin(15deg));
}

.digit:is(:hover, :focus-visible) {
  --active: var(--lerp-0);
}
.digit:is(:hover, :focus-visible) + .digit,
.digit:has(+ .digit:is(:hover, :focus-visible)) {
  --active: var(--lerp-1);
}
.digit:is(:hover, :focus-visible) + .digit + .digit,
.digit:has(+ .digit + .digit:is(:hover, :focus-visible)) {
  --active: var(--lerp-2);
}
.digit:is(:hover, :focus-visible) + .digit + .digit + .digit,
.digit:has(+ .digit + .digit + .digit:is(:hover, :focus-visible)) {
  --active: var(--lerp-3);
}
.digit:is(:hover, :focus-visible) + .digit + .digit + .digit + .digit,
.digit:has(+ .digit + .digit + .digit + .digit:is(:hover, :focus-visible)) {
  --active: var(--lerp-4);
}
.digit:is(:hover, :focus-visible) + .digit + .digit + .digit + .digit + .digit,
.digit:has(+ .digit + .digit + .digit + .digit + .digit:is(:hover, :focus-visible)) {
  --active: var(--lerp-5);
}
